# From Previous Lesson

In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import math
import warnings
warnings.filterwarnings('ignore')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv('/Users/himanshuaggarwal/data/01-lesson_plans/01-unit_pandas_simple_linear_regression/1.08_encoding_model_fit/files_for_lesson_and_activities/regression_data.csv')
data.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender  TARGET_D
0  15.500000  7.760467        17.343389         4.181353    Male      21.0
1   3.080000  6.208590        16.230984         4.150313    Male       3.0
2   7.500000  7.113956        18.047227         4.205057  Female      20.0
3   6.700000  5.783825        11.737110         4.055333    Male       5.0
4   8.785714  6.643790        12.494862         4.088969  Female      10.0

In [ ]:
Y = data['TARGET_D']
data = data.drop(['TARGET_D'], axis=1)

In [10]:
data.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender
0  15.500000  7.760467        17.343389         4.181353    Male
1   3.080000  6.208590        16.230984         4.150313    Male
2   7.500000  7.113956        18.047227         4.205057  Female
3   6.700000  5.783825        11.737110         4.055333    Male
4   8.785714  6.643790        12.494862         4.088969  Female

In [11]:
X_num = data.select_dtypes(include = np.number)
X_cat = data.select_dtypes(include = np.object)

In [12]:
X_num.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed
0  15.500000  7.760467        17.343389         4.181353
1   3.080000  6.208590        16.230984         4.150313
2   7.500000  7.113956        18.047227         4.205057
3   6.700000  5.783825        11.737110         4.055333
4   8.785714  6.643790        12.494862         4.088969

In [13]:
X_cat.head()

   gender
0    Male
1    Male
2  Female
3    Male
4  Female

In [14]:
Y.head()

0    21.0
1     3.0
2    20.0
3     5.0
4    10.0
Name: TARGET_D, dtype: float64

In [2]:
# Standardizing data

In [24]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(X_num)
x_normalized = transformer.transform(X_num)
print(x_normalized.shape)
# pd.DataFrame(x_normalized)

(4670, 4)

In [ ]:
X-u/sigma

In [21]:
from sklearn.preprocessing import StandardScaler
transformer = StandardScaler().fit(X_num)
x_standardized = transformer.transform(X_num)
print(x_standardized.shape)
# pd.DataFrame(x_standardized)

(4670, 5)

# Lesson 1.08

# Lesson 1

In [22]:
X_cat = data.select_dtypes(include = np.object)

In [17]:
X_cat['gender'].unique()

array(['Male', 'Female', 'U'], dtype=object)

In [20]:
X_cat['gender'].value_counts()

Female    2664
Male      1895
U          111
Name: gender, dtype: int64

In [22]:
X_cat.head(10)

   gender
0    Male
1    Male
2  Female
3    Male
4  Female
5    Male
6  Female
7    Male
8  Female
9  Female

In [19]:
pd.get_dummies(X_cat, drop_first=True)

      gender_Female  gender_Male  gender_U
0                 0            1         0
1                 0            1         0
2                 1            0         0
3                 0            1         0
4                 1            0         0
5                 0            1         0
6                 1            0         0
7                 0            1         0
8                 1            0         0
9                 1            0         0
10                1            0         0
11                1            0         0
12                0            1         0
13                1            0         0
14                1            0         0
15                1            0         0
16                1            0         0
17                0            0         1
18                1            0         0
19                1            0         0
20                1            0         0
21                0            1         0
22                0            1         0
23                0            1         0
24                0            1         0
25                0            1         0
26                1            0         0
27                0            1         0
28                0            1         0
29                1            0         0
...             ...          ...       ...
4640              1            0         0
4641              1            0         0
4642              1            0         0
4643              0            1         0
4644              0            1         0
4645              1            0         0
4646              0            1         0
4647              0            1         0
4648              0            1         0
4649              1            0         0
4650              1            0         0
4651              0            1         0
4652              1            0         0
4653              1            0         0
4654              1            0         0
4655              0            1         0
4656              0            1         0
4657              0            1         0
4658              1            0         0
4659              1            0         0
4660              1            0         0
4661              0            1         0
4662              1            0         0
4663              1            0         0
4664              0            1         0
4665              0            1         0
4666              0            1         0
4667              1            0         0
4668              0            1         0
4669              0            1         0

[4670 rows x 3 columns]

In [28]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='error', drop='first').fit(X_cat)
# encoder.categories_
encoded = encoder.transform(X_cat).toarray()
encoded

array([[1., 0.],
       [1., 0.],
       [0., 0.],
       ...,
       [0., 0.],
       [1., 0.],
       [1., 0.]])

In [42]:
le = preprocessing.LabelEncoder().fit(X_cat).transform(X_cat) # ordered wrt value counts

# Lesson 2

In [26]:
type(x_normalized)

numpy.ndarray

In [33]:
# pd.DataFrame(x_normalized)

In [37]:
# type(encoded)
# # pd.DataFrame(encoded)
# pd.concat([pd.DataFrame(x_normalized) , pd.DataFrame(encoded)], axis = 1)

In [41]:
X = np.concatenate((x_normalized, encoded), axis=1)
# Y = data['TARGET_D']
pd.DataFrame(X).head()
X.shape

(4670, 6)

In [ ]:


1000 observations 

70% training observations == 700  - Randomized 

30 % test observations == 300 - Randomized

Random seed

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.4, random_state=100)

In [46]:
from sklearn import linear_model

In [47]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
predictions  = lm.predict(X_test)
r2_score(y_test, predictions)

0.4367709325610222

In [49]:
X_train.shape

(2802, 6)

In [59]:
pd.DataFrame(y_train).shape

      TARGET_D
2555      21.0
1339      25.0
1396       6.0
2266      10.0
343        9.0
2169      15.0
4498      20.0
2182      15.0
2961      10.0
402        5.0
4605       5.0
497       15.0
228        6.0
2249      12.0
4548      10.0
4239      20.0
2200      10.0
124       20.0
1562      15.0
2185      25.0
3762      25.0
2316       4.0
3222      25.0
893       40.0
838       10.0
2904      10.0
1946       5.0
2147       5.0
2893      10.0
23        11.0
...        ...
2         20.0
3408       3.0
3015      20.0
3767      50.0
2365      10.0
3777      14.0
3503       5.0
4231       5.0
2883      10.0
4027       7.0
2651      12.0
1028      20.0
3213      15.0
2463       5.0
1900      20.0
2434      19.0
1531      20.0
2960       5.0
1340      22.0
1899      23.0
3300      12.0
1679      10.0
4376      20.0
2800       6.0
802       15.0
4149      16.0
1890       5.0
350       25.0
79        25.0
3927      20.0

[2802 rows x 1 columns]

In [53]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
pd.DataFrame(X_test)

             0         1         2         3    4    5
0     0.586470  0.297560  0.723227  0.210838  0.0  0.0
1     0.769654  0.239538  0.569965  0.159357  1.0  0.0
2     0.417707  0.421739  0.763439  0.254596  0.0  0.0
3     0.539035  0.277127  0.777113  0.169520  0.0  0.0
4     0.742622  0.241898  0.605183  0.154115  1.0  0.0
5     0.437323  0.328060  0.810373  0.210763  1.0  0.0
6     0.330671  0.344362  0.850592  0.220375  1.0  0.0
7     0.674300  0.268874  0.667505  0.165721  1.0  0.0
8     0.419858  0.326994  0.827294  0.179941  0.0  0.0
9     0.564064  0.297458  0.753534  0.159802  0.0  0.0
10    0.564717  0.314472  0.735948  0.201454  0.0  0.0
11    0.323982  0.329599  0.865934  0.191202  0.0  0.0
12    0.462550  0.347480  0.789623  0.204453  1.0  0.0
13    0.442927  0.323793  0.808069  0.214469  1.0  0.0
14    0.660713  0.278730  0.672232  0.184044  1.0  0.0
15    0.740327  0.261321  0.599554  0.155439  0.0  0.0
16    0.598662  0.293813  0.728558  0.156464  0.0  1.0
17    0.348604  0.363103  0.843100  0.189246  0.0  0.0
18    0.297384  0.343336  0.855471  0.248701  1.0  0.0
19    0.517431  0.386219  0.739101  0.191910  1.0  0.0
20    0.493245  0.509184  0.643093  0.289607  0.0  0.0
21    0.464200  0.323099  0.807652  0.166806  0.0  0.0
22    0.523912  0.341700  0.748679  0.219629  1.0  0.0
23    0.170354  0.381421  0.884462  0.207903  1.0  0.0
24    0.439424  0.366983  0.793158  0.207681  1.0  0.0
25    0.856470  0.231848  0.440489  0.136658  0.0  0.0
26    0.470036  0.333919  0.790299  0.207345  0.0  0.0
27    0.640876  0.326545  0.663024  0.207475  1.0  0.0
28    0.214904  0.410721  0.840409  0.280778  1.0  0.0
29    0.791241  0.251323  0.532967  0.163463  0.0  0.0
...        ...       ...       ...       ...  ...  ...
1838  0.507839  0.376070  0.735772  0.243538  0.0  0.0
1839  0.590313  0.267130  0.743529  0.165337  0.0  0.0
1840  0.770002  0.239263  0.569447  0.159939  0.0  0.0
1841  0.542873  0.335535  0.732822  0.235958  0.0  0.0
1842  0.513342  0.434686  0.691293  0.263897  1.0  0.0
1843  0.314873  0.377522  0.847012  0.202245  1.0  0.0
1844  0.729516  0.260121  0.611788  0.160806  0.0  0.0
1845  0.518102  0.339140  0.759299  0.200046  1.0  0.0
1846  0.661986  0.268239  0.679271  0.168561  0.0  1.0
1847  0.724642  0.273020  0.614005  0.152813  0.0  0.0
1848  0.762607  0.239956  0.576001  0.170512  0.0  0.0
1849  0.815722  0.251634  0.493409  0.166812  1.0  0.0
1850  0.781230  0.202072  0.577841  0.122254  0.0  0.0
1851  0.318835  0.336185  0.856942  0.225774  1.0  0.0
1852  0.762811  0.239538  0.579163  0.159092  0.0  0.0
1853  0.551029  0.297861  0.757229  0.185068  1.0  0.0
1854  0.544465  0.332685  0.740269  0.211849  0.0  0.0
1855  0.274460  0.330302  0.880676  0.199954  1.0  0.0
1856  0.487826  0.377820  0.750476  0.236780  1.0  0.0
1857  0.469794  0.336611  0.795981  0.180005  0.0  0.0
1858  0.703620  0.290758  0.618126  0.195703  1.0  0.0
1859  0.324383  0.408285  0.823709  0.222673  0.0  0.0
1860  0.613109  0.287953  0.715547  0.170802  0.0  0.0
1861  0.556855  0.338132  0.717574  0.246306  1.0  0.0
1862  0.503794  0.304503  0.789721  0.172660  1.0  0.0
1863  0.376269  0.337929  0.836670  0.210260  1.0  0.0
1864  0.454656  0.329340  0.798910  0.215791  0.0  0.0
1865  0.497997  0.325705  0.783770  0.177818  0.0  0.0
1866  0.281651  0.357794  0.865743  0.207717  0.0  0.0
1867  0.666075  0.279868  0.666519  0.183767  1.0  0.0

[1868 rows x 6 columns]

In [57]:
len(lm.predict(X_test))

1868

In [ ]:
y_test --- true value 
predictions == y_hat

In [51]:
X_test.shape

(1868, 6)

In [52]:
y_test.shape

(1868,)

In [48]:
predictions

array([15.70705179, 27.38236651,  7.32325046, ..., 15.69766903,
        9.13908687, 20.82652506])

In [49]:

# to make predictions on the new data, we have to process the data (X features) in the same way.

# Lesson 3

In [48]:
mse = mean_squared_error(y_test, predictions)
print(mse)

24.52794161866893

In [54]:
rmse = math.sqrt(mse)
print(rmse)

4.952569193728537

In [63]:
r2 = r2_score(y_test, predictions)
r2

0.8306856898558086

In [58]:
n = len(X_test) 
p = X_test.shape[1]

In [65]:
adj_r2 = 1-((1-r2)*(n-1)/(n-p-1))
adj_r2

0.8300484854627929